/* parent */

.landing-section * {
  color: #ededed;
}

.landing-section {
  height: 100%;
  margin-top: 14vh;
  padding: 0;

  /* background-color: #213334; */
}

.landing-hero-section {
  height: 85vh;
  position: relative;
  background: none;
  width: 100%;
}

/* ------------------------------------------------------------ */

/* hero section */

/* img */

.landing-hero-section img {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1000;
}

/* text */

.hero-text {
  position: relative;
  z-index: 1;
  padding: 25vh 5vw 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(-130px);
  padding-bottom: 0;
}

.hero-text h1 {
  font-size: clamp(2rem, 5vw, 4rem);

  margin-top: 0;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.hero-text h2 {
  font-size: clamp(1rem, 3vw, 2rem);
  filter: drop-shadow(7px 7px 7px rgb(0, 0, 0));
}

/* ------------------------------------------------------------ */

/* wrapper for landing  */

.wrapper {
  background-color: black;
  padding: 0 10vw;
}

/* ------------------------------------------------------------ */

/* service section  */
.service-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.service-section h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-left: 3vw;
}

.service-card img {
  height: 35vh;
  width: 20vw;
  border-radius: 5px;
}

/* ------------------------------------------------------------ */

/* affiliation/partnerships */

.affiliation-img-div {
  display: flex;
  gap: 1vw;
  margin: auto;
}

.affiliation-section .affiliation-img {
  width: 10vw;
  inset: 0;
  max-height: 20vh;
  object-fit: cover;
}

.affiliation-section {
}

/* ------------------------------------------------------------ */

/* reviews */

.review-section {
  display: flex;
  justify-content: space-between;
}

.review-section img {
  height: 58vh;
  width: 30vw;
}

/* ------------------------------------------------------------ */

/* animartion for hero text*/

@keyframes popUp {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-pop {
  animation: popUp 1s ease-out forwards;
}
